.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.verticalNode {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 1;
  font-size: 17vw;
  font-weight: bold;
  margin-left: 10vw;
  color: black;
}

.letter {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 17vw;
  color: black;
}

.expand {
  position: absolute;
  left: 100%;
  white-space: nowrap;
  opacity: 0;
  transform-origin: left;
  animation: expandIn 0.5s forwards ease-out;
  font-family: 'Brush Script MT', cursive;
  font-size: 17vw;
  font-weight: normal;
  margin-left: 1vw;
  color: black;
}

.nodeGroup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  width: 50vw;
}

.horizontalNode {
  font-size: 13vw;
  font-weight: bold;
  opacity: 0; 
  display: block;
  color: black;
  white-space: nowrap;
  text-align: left;
  position: relative;
  z-index: 2;
  margin-bottom: -3vw;
}

.line {
  width: 100%;
  height: 0.5vw;
  background-color: blue;
  opacity: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.fadedNode {
  font-size: 13vw;
  font-weight: bold;
  opacity: 0; 
  display: block;
  color: rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  text-align: left;
  position: absolute;
  top: calc(50% + 4vw);
  left: 3vw;
  transform: scaleY(-1) skewX(-30deg);
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}

@keyframes expandIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes foldUp {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}

@keyframes drawLine {
  0% {
    opacity: 1;
    width: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    width: 100%;
    transform: translateX(0);
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 모바일 디바이스를 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .verticalNode {
    font-size: 12vw;
    margin-left: 5vw;
  }

  .letter {
    font-size: 12vw;
  }

  .expand {
    font-size: 12vw;
  }

  .nodeGroup {
    left: 35%;
    width: 60vw;
  }

  .horizontalNode, .fadedNode {
    font-size: 10vw;
  }

  .horizontalNode {
    margin-bottom: -0.4vw;
  }

  .fadedNode {
    top: calc(100% + 0.4vw);
    left: 0.6vw;
  }
}